@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

body {
  background: #040512;
  transition: background-color 0.5s;
}

html {
  scroll-behavior: smooth;
}

/* ===================================barra de navegacion ================================ */
.nav {
  width: 100%;
  height: 100px;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 0px 20px;

  justify-items: center;
  /* background: red; */
  /* border: 1px solid #fff; */
}

.flags {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  justify-self: center;
}

.flags_item {
  width: 40px;
}

.flags_img {
  display: block;
  cursor: pointer;
}

.dark_ligth {
  width: 70px;
  height: 28px;
  background: #77c4cf;
  display: flex;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  position: relative;
}

.dark_ligth:hover {
  cursor: pointer;
}

.circle {
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  background: #fff;
  transform: translateX(-10px);
  transition: all 300ms linear;
}

.light {
  transform: translateX(35px);
  transition: all 300ms linear;
}

.claro {
  background: #edf2f4;
  color: #040512;
}
/* .container_logo {
  display: flex;
  justify-content: center;
} */

.menu {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-self: left;
  font-size: 16px;
  /* background: red; */
  justify-content: right;
  justify-items: left;
}

.menu li a {
  border-bottom: 2px solid transparent;
  transition: all 300ms;
  font-size: 15px;
  /* background: red; */
  /* display: flex;
  width: 100px; */
}

.menu li a:hover {
  border-bottom: 2px solid #77c4cf;
  padding-bottom: 5px;
}

.container_bar {
  display: none;
}

/* =====================================section home============================ */

.home {
  display: flex;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  /* border:  1px solid #fff; */
  position: relative;
  min-height: calc(100vh - 100px);
  gap: 20px;
}

.container_imagen {
  width: 350px;
  height: 350px;
  border-radius: 500px;
  border: 4px solid #77c4cf;
}
.container_imagen img {
  filter: grayscale(60%);
  width: 100%;
  height: 100%;
}

.container_info_home {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.container_info {
  width: 400px;
  font-size: 18px;
}

svg {
  width: 100%;
  height: auto;
}

.contaiener_title {
  width: 400px;
}

.title {
  font-size: 2.5rem;
}

.hi {
  color: #77c4cf;
}

.btn_cv {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
}

/* =================================Skill section======================================== */

.skills {
  padding: 50px 20px;
  margin: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #fff; */
  min-height: 500px;
  flex-direction: column;
  gap: 20px;
}

.container_skills {
  max-width: 1000px;
  min-height: auto;
  background: rgba(62, 60, 60, 0.2);
  border-radius: 12px;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
  /* border: 1px solid #fff; */
}

.skills h2 {
  font-size: 2.5rem;
}

.card_skill {
  width: 170px;
  height: 170px;
  background: rgba(62, 60, 60, 0.2);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  text-transform: capitalize;
  opacity: 0;
  /* transform: translateX(-10px); */
  transition: all 1s;
  filter: blur(5px);
}

.card_skill:nth-child(1) {
  transition-delay: 0.2s;
}

.card_skill:nth-child(2) {
  transition-delay: 0.4s;
}

.card_skill:nth-child(3) {
  transition-delay: 0.6s;
}

.card_skill:nth-child(4) {
  transition-delay: 0.9s;
}

.show {
  opacity: 1;
  /* transform: translateX(0px); */
  filter: blur(0px);
}

/* ============================about section==================================== */
.about {
  display: flex;
  justify-content: center;

  padding: 20px;
  align-items: center;

  height: 100vh;
}

.about h2 {
  font-size: 2.5rem;
}

.container_info_abot {
  max-width: 1000px;
  min-height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 20px;
  /* border: 1px solid #fff; */
  justify-content: center;
  align-items: center;
}

.container_info_abot p {
  font-size: 18px;
}

/* ==============================proyects section=========================== */

.proyects {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 40px 0px;
}

.proyects h2 {
  font-size: 2.5rem;
  border-bottom: 2px solid #77c4cf;
  padding-bottom: 2px;
}

.container_proyects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px 20px;
}

.container_proyects:nth-last-child(even) {
  flex-direction: row-reverse;
}

.container_info_proyect {
  width: 390px;
  min-height: 100px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container_info_proyect h2 {
  font-size: 1.5rem;
  border-bottom: none;
}

.container_img_proyects {
  width: 600px;
}

.container_info_proyect p {
  font-size: 18px;
}

.btn_project {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: all 300ms;
}

.btn_project:hover {
  background: rgba(48, 84, 60, 0.3);
}

/* =============================contact section =================================== */

.contact {
  padding: 10px 20px;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}
.contact h2 {
  font-size: 2.5rem;
}

.container_contact {
  width: 100%;
  max-width: 900px;
  background: rgba(62, 60, 60, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 50px 10px;
  flex-wrap: wrap-reverse;
}

.container_contact h2 {
  font-size: 1.5rem;
}

.container_contact {
  font-size: 1.1rem;
}

.info_contact {
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding: 5px;
  height: 400px;
}
.info_contact_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 5px;
  width: 300px;
}

.email_and_telephone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.icon_contact {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form_contact {
  width: 350px;

  height: 400px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_contact input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
}

textarea::placeholder {
  color: #d3c1c1;
}

textarea {
  resize: none;
}

.form_contact input[type="text"]::placeholder {
  color: #d3c1c1;
}

.form_contact input[type="email"]::placeholder {
  color: #d3c1c1;
}

/* ===========================footer=================================== */

.footer {
  min-height: 50vh;
  background: rgba(62, 60, 60, 0.2);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.social_media {
  width: 100%;
  display: flex;
  padding: 40px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon_social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/* ===============================mediaqueries================================== */
@media (max-width: 1040px) {
  .container_contact {
    text-align: center;
  }

  .info_contact_text {
    width: 100%;
  }

  .container_info_home {
    text-align: center;
  }
  .contaiener_title {
    text-align: center;
    width: 100%;
  }
  .container_info {
    width: 100%;
  }

  .circle_about {
    height: 400px;
    width: 400px;
  }

  .info_about p {
    font-size: 13px;
  }

  .container_bar {
    display: block;
  }

  .nav {
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    transition: all 300ms;
  }

  .flags {
    width: 100%;
    margin-right: 0px;
  }

  .menu {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .show_menu {
    height: 420px;
    transition: all 300ms;
  }

  .menu {
    flex-direction: column;
  }

  .container_logo {
    justify-self: left;
  }
  .container_bar {
    justify-self: right;
  }

  .container_info_proyect {
    text-align: center;
    width: 100%;
  }

  .container_proyects {
    flex-wrap: wrap-reverse;
  }

  .footer .menu {
    /* background: red; */
    align-items: flex-start;
    padding: 0px 50px;
    gap: 40px;
  }
}

@media (max-width: 400px) {
  .image_about {
    display: none;
  }

  .info_about {
    text-align: center;
  }

  .container_skills {
    padding: 20px;
    width: 200px;
  }
}

@media (max-width: 376px) {
  .container_imagen {
    width: 200px;
    height: 200px;
  }
}

/* ==================================ANIMATE BACKGROUND ====================== */

svg {
  height: 140%;

  display: block;
  position: absolute;
  left: 0;
  top: -100px;
  z-index: -500;
}

#top {
  /* display: none; */
  .st48,
  .st52,
  .st50 {
    animation: drift-right-up 80s alternate;
  }
  .st33,
  .st51 {
    animation: drift-right-up 75s alternate;
  }
  .st49,
  .st42 {
    animation: drift-right-up 65s alternate;
  }
}

#bottom {
  /* display: none; */
  .st11,
  .st56 {
    animation: drift-down 70s alternate;
  }
  .st53,
  .st54 {
    animation: drift-right 195s alternate;
  }
  .st55,
  .st36,
  .st33 {
    animation: drift-down 115s alternate;
  }
  .st51 {
    animation: drift-down-right 105s alternate;
  }
}

#nearright {
  /* display: none; */
  .st40,
  .st43,
  .st33 {
    animation: drift-right 115s;
  }
  .st41,
  .st44 {
    animation: drift-right-up 105s;
  }
  .st42,
  .st45,
  .st46,
  .st55,
  .st47 {
    animation: drift-right 135s;
  }
}

#farright {
  /* display: none; */
  .st54,
  .st58,
  .st59 {
    animation: drift-right 55s;
  }
  .st57,
  .st51 {
    animation: drift-right-up 40s;
  }
}

@keyframes drift-right {
  100% {
    transform: translate(2000px, -20px);
  }
}

@keyframes drift-right-up {
  100% {
    transform: translate(2000px, -250px);
  }
}

@keyframes drift-up {
  100% {
    transform: translate(10px, -1450px);
  }
}

@keyframes drift-up-right {
  100% {
    transform: translate(175px, -1550px);
  }
}

@keyframes drift-down {
  100% {
    transform: translate(2000px, 1220px);
  }
}

@keyframes drift-down-right {
  100% {
    transform: translate(1450px, 320px);
  }
}
